.logo {
  padding: 1em 0 2em 0;
  max-width: 38rem;
  margin: 0 auto;
}

.logo img {
  width: 20rem;
}

.outputs {
  padding-top: 1rem;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}

#log {
  padding-top: 0.5rem;
}

#log p {
  font-size: 10px;
}

#matches {
  width: 100%;
  height: 2rem;
}

#winner {
  font-size: 18px;
}

.winner-celebrate > i {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.6rem;
}

@media(max-width: 650px) {
  .logo img {
    width: 15rem;
  }
}
