// =============
// Spacing helpers
// =============

.no-pad {
  padding: 0 !important;
}

.no-lr-pad {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-l-pad {
  padding-left: 0 !important;
}

.no-r-pad {
  padding-right: 0 !important;
}

.pad-b-10 {
  padding-bottom: 10px !important;
}

.pad-b-15 {
  padding-bottom: 15px !important;
}

.pad-b-20 {
  padding-bottom: 20px !important;
}

.pad-b-40 {
  padding-bottom: 40px !important;
}

.pad-t-20 {
  padding-top: 20px !important;
}

.pad-t-40 {
  padding-top: 40px !important;
}

.pad-b-30 {
  padding-bottom: 30px !important;
}

.pad-r-5 {
  padding-right: 5px !important;
}

.pad-l-5 {
  padding-left: 5px !important;
}

.pad-l-15 {
  padding-left: 15px !important;
}

.pad-r-15 {
  padding-right: 15px !important;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.lr-text-spacing {
  padding: 0 5px;
}